--extra-index-url https://download.pytorch.org/whl/cu128

torch
torchvision
xformers

torch-scatter
torch-sparse
torch-cluster
torch_geometric

spconv-cu121

accelerate==1.13.0
addict
opencv-python
imageio
matplotlib
tables
tqdm
vispy
einops
fvcore
pytest
omegaconf
tensorboard
pandas
timm
ninja
h5py
easydict
kiss-icp
scikit-image
pre_commit
open3d
pykeops
jupyterlab
plotly
nbstripout
